@import url('/web/20200509224324cs_/https://www2.fab.mil.br/cda/templates/padraogoverno01/font-awesome-more-icons/css/font-awesome-corp.css');
@import url('/web/20200509224324cs_/https://www2.fab.mil.br/cda/templates/padraogoverno01/font-awesome-more-icons/css/font-awesome-ext.css');
@import url('/web/20200509224324cs_/https://www2.fab.mil.br/cda/templates/padraogoverno01/font-awesome-more-icons/css/font-awesome-social.css');

/*
     FILE ARCHIVED ON 22:43:24 May 09, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:22:08 May 08, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.131
  exclusion.robots: 0.15
  exclusion.robots.policy: 0.13
  esindex: 0.016
  cdx.remote: 11.298
  LoadShardBlock: 412.176 (3)
  PetaboxLoader3.datanode: 624.575 (4)
  load_resource: 344.744
  PetaboxLoader3.resolve: 101.258
*/