/*Aqui deve conter os estilos personalizados de cada organização */
/*
     FILE ARCHIVED ON 22:17:05 May 09, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:22:10 May 08, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 2.067
  exclusion.robots: 0.151
  exclusion.robots.policy: 0.132
  esindex: 0.015
  cdx.remote: 8.186
  LoadShardBlock: 165.663 (3)
  PetaboxLoader3.datanode: 86.973 (4)
  PetaboxLoader3.resolve: 157.834 (3)
  load_resource: 127.449
*/